.forty-container, .pharmacy-container{
    position: absolute;
    display: flex;
    width: 400px;
    height: 200px;
    top: 75px;
    left: 50px;
    background-color: lightskyblue;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}
.pharmacy-container{
    left: 700px
}

.forty-title, .pharmacy-title{
    font-family: Lora,Arial;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 30px;
    font-weight: bold;
}

.forty-text, .pharmacy-text{
    position: absolute;
    top: 50px;
    font-family: Lora,Arial;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;

}

.services-text-container{
    position: relative;
    margin-top: 80px;
    height: 600px;
    background-color: rgb(255, 242, 242);
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.office-image-container{
    height: 100%;
    width: 100%;
    background-image: url(/images/office.jpg);
}
.office-image-color-overlay{
    background-color: rgba(0, 29, 135, 0.301);
    width: 100%;
    height: 100%;
}

.welcome-title{
    margin-top: 200px;
    position: relative;
    width: 80%;
    font-family: Open Sans,Arial;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: lightskyblue;
}

.heart-container{
    max-width: 160px;
    max-height: 240px;
    z-index: 3;
    box-shadow: 10px 10px 10px rgb(234, 222, 222);
}
.heart-container-shadow{
    position: relative;
    width: 40%;
    max-width: 240px;
    height: 50%;
    box-shadow: 10px 10px rgb(234, 222, 222)
}

.mask-container{
    max-width: 160px;
    max-height: 240px;
    box-shadow: 10px 10px 10px rgb(234, 222, 222);
    z-index: 2;
}

.we-are-text{
    top: 200px;
    font-family: Open Sans,Arial;
    font-size: 16px;
    width: 80%;
}

.services-text-start, .services-text-lines{
    width: 80%;
    font-family: Open Sans,Arial;
    font-size: 16px;
}
.services-text-lines{

}

li{
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2315D709"><path d="M9 19c-.26 0-.51-.1-.71-.29l-6-6A.996.996 0 1 1 3.7 11.3l5.29 5.29L20.28 5.3a.996.996 0 1 1 1.41 1.41l-12 12c-.2.2-.45.29-.71.29Z"></path></svg>');
}

li::marker{
    font-size: 24px;
    color: yellow;
}
.our-values-title{
    margin-top: 200px;
    position: relative;
    width: 80%;
    font-family: Open Sans,Arial;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: lightskyblue;
}

.services-pictures{
    max-width: 400px;
    height: 600px;
    position: relative;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin: auto;
    padding-right: 20px;
    padding-left: 10px;
}

.clinic-pictures{
    top: 200px;
    position: relative;
    display: flex;
    grid-template-columns: 1fr;
    justify-content: right;
    text-align: right;
    flex-direction: column;
}

.picture-one, .picture-two{
    width: 400px;
    text-align: right;
}
.clinic-info-container{
    height: 1000px;
    width: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.clinic-info-text{
    
}
@media screen and (max-width: 900px) {
    .services-text-container{
        height: 800px;
    }
}
