.main-text-container{
    position: relative;
    top: 80px;
    height: 600px;
    background-color: rgb(243, 252, 211);

    background: rgb(145,206,250);
    background: linear-gradient(90deg, rgb(211, 236, 254) 30%, rgb(209, 255, 209) 100%);
}

.main-text-title{
    position: absolute;
    left: 0;
    top: 25px;
    right: 0;
    text-align: center;
    font-family: Lora,Arial;
    font-size: 28px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

.forty-contact-information, .cmrx-contact-information{
    position: absolute;
    top: 250px;
    height: 130px;
    width: 340px;
    background-color: lightskyblue;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}
.forty-contact-information{
    left: 50px;
}
.cmrx-contact-information{
    right: 50px;
    background-color: rgb(177, 255, 177);
}
.phone-container, .fax-container, .email-container, .location-container{
    display: flex;
    height: 20px;
    width: 340px;
    margin-bottom: 16px;
}
.phone-icon, .fax-icon, .email-icon, .location-icon{
    width: 20px;
    height: 20px;
}
.phone-text, .fax-text, .email-text, .location-text{
    font-family: Lora,Arial;
    font-size: 20px;
    margin-left: 10px;
}
body{
    height: 1000px;
}

.address{
    position: absolute;
    bottom: 125px;
    text-align: center;
    left: 0;
    right: 0;
    font-family: Lora,Arial;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;

}

.map-container {
    position: absolute;
    top: 0;
    height: 80%;
    width: 100%;
    left: 0;

    overflow: hidden;
    z-index: 1;
    
}
#map{
    width: 100%;
    height: 100%;

}

.map-section{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 242, 242)
}

.forty-clinic, .cmrx-pharmacy{
    position: absolute;
    top: 200px;
    font-family: Lora,Arial;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}
.forty-clinic{
    left: 50px;
}
.cmrx-pharmacy{
    right: 180px;
}

@media screen and (max-width: 840px) {
    .main-text-container{
        height: 900px;
    }
    .cmrx-contact-information{
        top: 500px;
        left: 50px;
    }
    .cmrx-pharmacy{
        top:450px;
        left: 50px;
    }
}