.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: -75px;
    height: 300px;
    width: 100%;
    background-color: lightskyblue;
}

.reach-us, .website, .open{
    padding-top: 10px ;
    
    flex: 1;
    height: 265px;
}
.reach-us-title, .website-title, .open-title{
    color: white;
    top: 16px;
    height: 30px;
    width: 100%;
    font-size: 24px;
    font-family: Lora,Arial;
    text-align: center;
    font-weight: bold;
}

.reach-us-text, .reach-us-address, .reach-us-phone, .reach-us-fax, .reach-us-email, .footer-link, .footer-day, .our-info{
    color: white;
    font-family: Lora,Arial;
    line-height: 22px;
    margin-top: 4px;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.copyright{
    color: white;
    margin-left: 16px;
    height: 26px;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}

.footer-links{

}
.footer-link{
    color: white;
   line-height: 40px;
}

white{
    color: white;
}

white:hover{
    color: rgb(5, 83, 179);
}
.footer-day{
    line-height: 28px;
}
pharmacy{
    font-size: 16px; 
    color: rgb(0, 153, 0);
}
pharmacy:hover{
    color: rgb(5, 83, 179);
}

@media screen and (max-width: 920px) {
    .footer{
        height: 380px;
    }
    .reach-us-text, .reach-us-address, .reach-us-phone, .reach-us-fax, .reach-us-email, .footer-link, .footer-day, .our-info{
        font-size: 13px;
        
    }
    white{
        
    }
    .reach-us-title, .website-title, .open-title{
        font-size: 20px;
    }

}

@media screen and (max-width: 600px) {
    .reach-us-title, .website-title, .open-title{
        margin-bottom: 24px;
    }
}