body{
    height: 1850px;
}

.stock-doctor-title-overlay, .stock-doctor-text-overlay-body, .stock-doctor-sub-title-overlay, .book-text, .clinic-hours-text {
    color: white;
    position: absolute;
    font-family: Lora,Arial;
    z-index: 10;
    font-size: 48px;

}
    span{

    background-color: rgb(14, 14, 43, 0.2);
}
.stock-doctor-sub-title-overlay{
    text-align: center;
    left: 0;
    right: 0;
    top: 100px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.stock-doctor-title-overlay{
    text-align: center;
    left: 0;
    right: 0;
    font-size: 50px;
    top: 36px;
    font-style: italic;
    font-weight: bold;
}
.stock-doctor-text-overlay-body{
    text-align: center;
    left: 0;
    right: 0;
    top: 200px
}
.stock-doctor-text-color-overlaya{
    background-color: rgb(0, 29, 135);
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 550px;


}
.hours-table{
    display: flex;
    position: absolute;
    top: 400px;
    right: 0;
    left: 0;
    justify-content:center;
    
}
.day-box{
    width: 120px;
    height: 140px;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
}

.day{
    font-family: Lora,Arial;
    font-size: 20px;
    font-weight: bold;
    top: 0;
    width: 120px;
    height: 40px;
    background-color: aqua;
    text-align: center;
    align-content: center;
}
.availability{
    font-family: Lora,Arial;
    bottom: 0;
    font-size: 30px;
    width: 120px;
    height: 100px;
    background-color: pink;
    text-align: center;
    align-content: center;
}
/*
.book-text{
    color: black;
    position: absolute;
    top: 70px;
    left: 75px;
    z-index: 110;
    font-size: 30px;
    width: 400px;
    background-color: rgb(32, 160, 216);
    border: 10px;
    border-style: solid;
    border-radius: 50px;
    padding: 30px;
}
*/
.clinic-hours-text{
    top: 325px;
    left: 0;
    right: 0;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.map-container {
    position: absolute;
    top: -340px;
    height: 350px;
    width: 100%;
    left: 0;

    overflow: hidden;
    z-index: 1;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 85.71%, 1.00% 83.95%, 2.00% 82.36%, 3.00% 81.09%, 4.00% 80.28%, 5.00% 80.00%, 6.00% 80.28%, 7.00% 81.09%, 8.00% 82.36%, 9.00% 83.95%, 10.00% 85.71%, 11.00% 87.48%, 12.00% 89.07%, 13.00% 90.34%, 14.00% 91.15%, 15.00% 91.43%, 16.00% 91.15%, 17.00% 90.34%, 18.00% 89.07%, 19.00% 87.48%, 20.00% 85.71%, 21.00% 83.95%, 22.00% 82.36%, 23.00% 81.09%, 24.00% 80.28%, 25.00% 80.00%, 26.00% 80.28%, 27.00% 81.09%, 28.00% 82.36%, 29.00% 83.95%, 30.00% 85.71%, 31.00% 87.48%, 32.00% 89.07%, 33.00% 90.34%, 34.00% 91.15%, 35.00% 91.43%, 36.00% 91.15%, 37.00% 90.34%, 38.00% 89.07%, 39.00% 87.48%, 40.00% 85.71%, 41.00% 83.95%, 42.00% 82.36%, 43.00% 81.09%, 44.00% 80.28%, 45.00% 80.00%, 46.00% 80.28%, 47.00% 81.09%, 48.00% 82.36%, 49.00% 83.95%, 50.00% 85.71%, 51.00% 87.48%, 52.00% 89.07%, 53.00% 90.34%, 54.00% 91.15%, 55.00% 91.43%, 56.00% 91.15%, 57.00% 90.34%, 58.00% 89.07%, 59.00% 87.48%, 60.00% 85.71%, 61.00% 83.95%, 62.00% 82.36%, 63.00% 81.09%, 64.00% 80.28%, 65.00% 80.00%, 66.00% 80.28%, 67.00% 81.09%, 68.00% 82.36%, 69.00% 83.95%, 70.00% 85.71%, 71.00% 87.48%, 72.00% 89.07%, 73.00% 90.34%, 74.00% 91.15%, 75.00% 91.43%, 76.00% 91.15%, 77.00% 90.34%, 78.00% 89.07%, 79.00% 87.48%, 80.00% 85.71%, 81.00% 83.95%, 82.00% 82.36%, 83.00% 81.09%, 84.00% 80.28%, 85.00% 80.00%, 86.00% 80.28%, 87.00% 81.09%, 88.00% 82.36%, 89.00% 83.95%, 90.00% 85.71%, 91.00% 87.48%, 92.00% 89.07%, 93.00% 90.34%, 94.00% 91.15%, 95.00% 91.43%, 96.00% 91.15%, 97.00% 90.34%, 98.00% 89.07%, 99.00% 87.48%, 100.00% 85.71%);
}
#map{
    width: 100%;
    height: 100%;

}

.map-section{
    position: relative;
    width: 100%;
    max-height: 350px;
}

.addtional-section{
    top: -75px;
    position: relative;
    width: 100%;
    height: 650px;
    background-color: rgb(255, 242, 242)
}

.contact-information, .pharmacy-container{
    position: absolute;
    top: 100px;
    left: 50px;
    height: 130px;
    width: 340px;
    background-color: lightskyblue;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}
.phone-container, .fax-container, .email-container, .location-container{
    display: flex;
    height: 20px;
    width: 340px;
    margin-bottom: 16px;
}
.phone-icon, .fax-icon, .email-icon, .location-icon{
    width: 20px;
    height: 20px;
}
.phone-text, .fax-text, .email-text, .location-text{
    font-family: Lora,Arial;
    font-size: 20px;
    margin-left: 10px;
}

.walk-container, .family-container{
    position: absolute;
    display: flex;
    top: 100px;
    width: 300px;
    height: 200px;
    background-color: lightskyblue;   
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
}
.family-container{
    right: 100px;
}
.walk-container {
    right: 450px
}
.pharmacy-container{
    display: flex;
    right: 600px;
    top: 300px;
    justify-content: center;
    
}
.walk-icon, .family-icon, .pharmacy-icon{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    padding: 4px;
    border-style: solid;
    border-radius: 10px;
}
.walk-text, .family-text, .pharmacy-text{
    font-family: Lora,Arial;
    font-size: 14px;
    position: absolute;
    top: 75px;
    width: 250px;
    text-align: center;

}
.pharmacy-text{
    font-size: 18px;
}

.stat-holiday{
    position: absolute;
    top: 575px;
    text-align: center;
    right: 0;
    left: 0;
    font-family: Lora,Arial;
    font-size: 24px;
    color: white;
    font-weight: bold;
    z-index: 100;
}

@media (max-width: 500px){

}